<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  {{!-- <link rel="stylesheet" href="/css/jass.css"> --}}
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header>
      <nav>
          <ul>
            <li><a href="/">Home</a></li>
            
            <li><a href="/dashboard">Dashboard</a></li>
            
            <!-- Conditionally render login or logout links -->
            {{#if logged_in}}
            {{!-- need to work on logout --}}
            <button id="logout">Logout</button>
            {{else}}
            <li><a href="/login">Login</a></li>
            {{/if}}
          </ul>
      </nav>
      <h1>
        <a href="/">Tech Blog</a>
      </h1>
  </header>
  <main class="container container-fluid mt=5">
    {{{body}}}
  </main>
  <footer>
    TechBlog2022
  </footer>
  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src='/js/logout.js'></script>
  {{/if}}
</body>

</html>
