<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header>
    Tech Blog
  </header>
  <main>
    {{{body}}}
  </main>
</body>
<script src='../../public/js/index.js'></script>

</html>
