<div class="row">
  <div class="col-auto">
    <h1> Your Dashboard</h1>
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<br>

<div>
  <button id="make-post">Create Post!</button>
</div>

<div class="row mt-4">
  {{!-- posts --}}
  <div>
    {{#each posts as |post|}}
    <div></div>
    <div>
      <div class="dashboard-post col-md-8">
        <h4><a href="/editpost/{{post.id}}">{{post.title}}</a></h4>
        <p>{{format_date post.date}}</p>
      </div>
    {{/each}}
    </div>
  </div>
</div>
<script src='/js/dashboard.js'></script>