<div>
    <h1>Here is where you edit comments </h1>
        <h1 class="top-margin"></h1>
    <div class="top-post">
        <h1>Edit Comment </h1>
    </div>
    <div class="comment">
        <form class="margin2 form editcomment-form">
            <div class="form-group">
                <h2 for="content-input">Content:</h2>
                <input class="comment-content form-input" id="content-input"name="content-input">
            </div>
            <div class="center form-group">
                <button type="submit"class="btn btn-primary">Submit</button>
            </div>
        </form>
        <p hidden id="editcomment-id">{{id}}</p>
        <button id="delete-btn"class="delete-btn btn btn-sm btn-danger">DELETE</button>
    </div>
</div>
<script src="/js/editcomment.js"></script>