<div>
    <h2>SIGNUP</h2>
    <form class="signup-form">
        <div>
            <label>Name:</label>
            <input id="name-signup"/>
        </div>
        <div>
            <label>Password:</label>
            <input id="password-signup"/>
        </div>
        <div>
            <button type="submit">SIGNUP</button>
        </div>
    </form>
    <br>
    <a href="./login">Click Here to Sign In</a>
</div>
<script src="./js/signin.js"></script>