body{
    /* background-color: #d2dcf0; */
    color:#00008b;
}
a{
    color:#00008b;
}
.width{
    width:100%;
}
.block{
    display: block;
}
header{
    background-color: #94b1e7;
    padding-left: 50px;
    padding-bottom: 50px;
}
header h1{
    font-size: 200%;
}
nav ul{
    display: flex;
    font-size: 150%;
    min-width: 300px;
    padding-top: 70px;
    padding-bottom: 20px; 
}
nav ul li{
    padding-right: 100px;
}
h1{
    display: block;
}
.post{
    border: 2px solid #00008b;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.top-post{
    display: flex;
    justify-content: space-evenly;
    background-color: #8eabe2;
    padding: 10px;
}
footer{
    text-align: center;
    margin-top: 1rem;
}
button{
    background-color: #b1c5eb;
    padding: 5px;
}
.margin2{
    padding: 2rem;
}
.center{
    text-align: center;
}
.comment-content{
    height:100px;
    width: 1000px;
}
.comment{
    border: 2px solid #00008b;
    padding-left: 3rem;
}
.dashboard-post{
    display: flex;
    width: 1500px;
    justify-content: space-between;
    background-color: #8eabe2;
    padding: 1rem;
    margin: 5px;
}
.edittitle-content{
    width: 1000px;
}
.delete-btn{
    margin-left: 33rem;
    margin-bottom: 2rem;
}
.top-margin{
    margin-top: 1rem;
}